<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CalendarMapper">

   <!-- DB의 자료를 가져올때 DB Table의 컬럼명과 자바빈 클래스의 변수명을 맞춰 주면,
   자동으로 데이터를 입력시켜주지만 DB Table과 변수명이 다를 경우도 있다. -->
   <!-- <resultMap id="studyListResult" type="com.co.kr.common.vo.StudyListVo">
      <result property="id" column="CODE_ID" jdbcType="VARCHAR" />
      <result property="nm" column="CODE_NM" jdbcType="VARCHAR" />
      <result property="sex" column="SEX_CODE" jdbcType="VARCHAR" />
   </resultMap> -->

   <!-- 주의사항
   이렇게 하나씩 대입되는 이름들을 맞춰주면 데이터를 잘 받아온다
   주의할 점은 이름이 다른 것들만 써주는 것이 아니라 써주려면 전부 다 써줘야 한다는 것 -->

   <select id="selectCalendarAll" resultType="com.sinsp.richard.web.calendar.vo.reserveVO" parameterType="com.sinsp.richard.web.calendar.vo.reserveVO">
        SELECT
			 rm.RESERVE_TIME as reserveTime
			,cm.CLIENT_NM as clientNm
			,cm.CLIENT_TEL as clientTel
			,wm.WORK_NM as workNm
			,rm.OTHER_INFO as otherInfo
			,rm.PAY_STATE as payState
			,wrm.WORKER_NM as workerNm
			,cm.COUPON as coupon
			,DATE_FORMAT(rm.RESERVE_DATE,'%Y%m%d') as reserveDate
		FROM naildb.reserve_master rm
		INNER JOIN naildb.client_master cm
		ON rm.CLIENT_NO = cm.CLIENT_NO
		LEFT JOIN naildb.work_master wm
		ON rm.WORK_STATE = wm.WORK_STATE
		LEFT JOIN naildb.pay_master pm
		ON rm.PAY_STATE = pm.PAY_STATE
		LEFT JOIN naildb.worker_master wrm
		ON rm.WORKER_CODE = wrm.WORKER_CODE
   </select>

</mapper>